<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <% if current_user.github_profile %>
    <%= render 'github/users/show'%>
  <% else %>
    <%=button_to "Connect on GitHub", '/auth/github', method: 'get', class: "btn btn-primary mb1 bg-teal"%>
  <% end %>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
</br>
   <section>
      <h1> Github Followers Count: <%="#{@facade.followers.count}"%> </h1>
  </section>

  <%= content_tag :div, id:"github_followers" do %>
    <% @facade.followers.each do |follower|%>
      <%= link_to follower.name, follower.url, class: "follower"%>
      </br>
    <%end%>
</br>
    <h1>Github Repos </h1>
    <%= content_tag :div, id:"github_repos" do %>
      <% @facade.repos(quantity: 5).each do |repo|%>
        <%= link_to repo.name, repo.url, class: "repo"%>
        </br>
      <%end%>
    <%end%>
       <h1>Github Users You're Following </h1>
    <%= content_tag :div, id:"github_following" do %>
      <% @facade.following.each do |followin|%>
        <%= link_to followin.name, followin.url, class: "following"%>
        </br>
      <%end%>
    <%end%>
  <%end%>

</section>
